.citacao {
    background-color: #D9E5E3;
    border: none;
    border-bottom-color: #333;
    border-right-color: #FFF;    
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
}

.citacao-fiat{
    margin: 20px 0px 20px 20px;
    float: right;
}
.citacao-pretrobras{
    margin: 20px 20px 20px 0px;
    float: left;
}